.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: "Azonix", sans-serif;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 5%;
    color: #fff;

    .menu {
        overflow: hidden;
    }

    a {
        color: #fff;
        text-decoration: none;
        margin: 0 15px;
        font-size: 12px;
        letter-spacing: 2px;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.7;
        }
    }

    &__logo svg {
        transform: translateX(-50%);
        bottom: 0%;
        width: 40px;
        transition: width 0.3s ease;
        overflow: visible;
    }

    &__left,
    &__right {
        margin-bottom: 2%;
        display: flex;
        align-items: center;
    }

    .nav__line {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 90%;
        height: 3px;
        background: radial-gradient(ellipse at center,
                rgba(255, 255, 255, 0.8) 50%,
                rgba(30, 33, 35, 0.8) 100%);
        transform: translateX(-50%) scaleX(0.003);
        transform-origin: center;
        pointer-events: none;
    }
}